body{
    background-image: url("mars.jpg");
    background-position: center;
    background-size: cover;
}

#myCanvas{
    background-color: rgb(255, 255, 255);
    border-style: ridge;
    border-width: 10px;
}